@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: matrixFont;
  src: url(../assets/fonts/matrixFont.ttf);
}

@font-face {
  font-family: writeMachineFont;
  src: url(../assets/fonts/writeMachine.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: writeMachineFont, monospace, Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: rgba(10, 10, 10);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.titleAnimation {
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}