@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: matrixFont;
  src: url(./matrixFont.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-border {
  -webkit-text-stroke: 1px #075c07;
}